.navbar {
    width: 100%;
    height: 10rem;
    background-color: blue;
    display: flex;
    color: yellow;
    font-size: 5rem;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}
